body {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	background-color: #2A8D8D;
	padding: 0.2rem 0.5em;
	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
header > h1 {
	margin: 0.2rem;
/* 	display: flex; */
}
header > .cart {
	padding-right: 1em;
	padding-top: 0.5em;
}
main {
	background-color: #fda302;
	padding: 1rem;
	flex-grow: 1;
}
footer {
	padding: 1rem;
}

.products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2em;
}
.products > div {
	height: 8em;
	border: 1px solid black;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.products > div > :first-child {
	flex-grow: 1;
}

.show-cart {
	display: flex;
	flex-direction: column;
/* 	min-width: 25em; */
	width: 25em;
	margin: 0px auto;
}
.show-cart > div {
	height: 8em;
	border: 1px solid black;
	padding: 1em;
	display: flex;
	flex-direction: column;
}
.show-cart > div > :first-child {
	flex: 1;
}
.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-row > * {
/* 	flex: 1; */
	width: 40%;
}

.cart-sum {
	width: 25em;
	margin: 2em auto;
}

nav.menu {
	display: flex;
	flex-direction: row;
}
nav.menu > * {
	padding: 1em;
	margin: 0px;
}




/*  */
